
body{
    background-color: rgb(33, 33, 33);
}
.container{
    margin: auto;
    width:50%;
    background-color: rgb(151, 151, 151);
    padding-top: 40px;
    border-radius: 20px;
    border: 5px inset rgb(114, 114, 114);
}
.screen{

    max-width:auto;
    background-color:rgb(171, 219, 231);
    height: 180px;
    overflow:auto;
    overflow-wrap:break-word;
    margin: 0px 50px 15px 50px;
    border: 5px inset rgba(47, 47, 47, 0.948);
    border-radius: 15px;
  }

#display{

  text-align: right;
  padding-right: 20px;
  font-size: 3vmax;
  font-weight: bold;
  font-family: 'Orbitron';
  
}

@media (max-width:750px)
{
    .container{
        width: 100%;
    }
    .screen{
    max-height:120px
    }
    #display{
    font-size: 5vw;
    }
}
#button{
  width:auto;      
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 50px;
  padding-top: 15px;
  row-gap: 15px;
  column-gap: 15px;
  }

button{
  max-width: auto;
  height: 65px;
  font-size: 2em;
  border-style: groove;
  border-radius: 15px;
  border-color: black;
  box-shadow: 1px 1px 2px 2px rgb(58, 58, 58);
}
.power{
    background-color: rgb(225, 74, 74);
}
.operator{
    background-color: rgba(255, 255, 255, 0.587);
}